<mat-card class="side-bar">
  <mat-card-header class="side-bar-header">
    <img mat-card-avatar class="user-avatar" [src]="user?.avatar || ''">
    <mat-card-title class="side-bar-title">{{user?.firstName}} {{user?.lastName}} {{user?.id}}</mat-card-title>
    <mat-card-subtitle class="side-bar-item" routerLink="edit-profile">Edit Profile</mat-card-subtitle>
    <mat-card-subtitle class="side-bar-item" routerLink="/" (click)="exit()">Exit</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="chat-item" routerLink="main-chat">
      <mat-card-header>
        <img mat-card-avatar class="chat-item-avatar" [src]="mainChatRoom?.avatar || ''">
        <mat-card-title class="chat-item-title">{{mainChatRoom?.name}}t</mat-card-title>
        <mat-card-subtitle>{{mainChatRoom?.lastMessage}} 2</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-card-content>
</mat-card>


<div class="chat-container">
  <router-outlet></router-outlet>
</div>
