.menu-button {
  margin-right: 35px;
}

.menu-button-icon {
  font-size: 36px;
  color: white;
}

.chat-container {
  width: calc(100% - 350px);
  position: fixed;
  left: 350px;
  height: 100%;
}

.chat-container-no-chosen {
  display: grid;
  align-content: center;
  text-align: center;
}

.side-bar {
  width: 350px;
  position: fixed;
  height: 100%;
  padding: 0;
}
.side-bar-header {
  padding: 30px 20px 40px 20px;
}
.user-avatar {
  height: 100px;
  width: 100px;
  padding: 10px;
}
.side-bar-title {
  font-size: 20px;
}
.side-bar-item {
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.chat-item {
  width: 350px;
  padding: 20px 15px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.chat-item:hover {
  background-color: #35459221;
}

.chat-item-avatar {
  width: 50px;
  height: 50px;
}

.mat-list-item-content {
  padding: 0;
}

.chat-item-title {
  font-size: 20px;
  color: blueviolet;
}

.mat-card-avatar {
  margin-right: 20px;
}

.rooms-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 249px);
  visibility: hidden;
}

.rooms-container-content, .rooms-container:hover {
  visibility: visible;
}

.mobile_button-back {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #c1a9d64f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #705e7d9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a391b0;
}

@media only screen and (max-width: 900px) {
  .side-bar {
    width: 250px;
  }

  .chat-container {
    width: calc(100% - 250px);
    left: 250px;
  }

  .user-avatar {
    height: 90px;
    width: 90px;
    padding: 10px;
  }

  .mat-card-avatar {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .side-bar, .chat-item {
    max-width: 600px;
    min-width: 320px;
    width: 100%;
  }

  .user-avatar {
    height: 100px;
    width: 100px;
    padding: 10px;
  }

  .mat-card-avatar {
    margin-right: 20px;
  }

  .chat-container {
    display: none;
  }

  .active-chat-room {
    display: block;
    max-width: 600px;
    min-width: 320px;
    width: 100%;
    left: 0;
  }

  .disable-side-bar {
    display: none;
  }

  .mobile_button-back {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 1;
  }

  .mobile_button-back .mat-icon {
    color: white;
    font-size: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .mobile_button-back .profile-button {
    color: black!important;
  }

  .mobile_button-back.profile-button {
    top: 15px!important;
  }

  .mobile_button-back.direct-room-button {
    top: 20px!important;;
  }
}
