::ng-deep .mat-dialog-container {
  padding: 0;
}

.avatar-cropper__container {
  background-color: #8d63ad;
}

.avatar-cropper__action {
  cursor: pointer;
  color: white;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.avatar-cropper__image {
  width: 200px;
}

.avatar-cropper__actions {
  text-align: center;
}
