.user-profile__component {
  padding: 50px;
  min-height: calc(100vh - 66px - 100px);
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 66px;
  width: 100%;
  min-width: 320px;
}

.user-profile__title {
  color: dimgrey;
  font-size: 16px;
}
