<mat-card class="mat-card user-profile__component">
  <mat-card-header class="user-profile__header">
    <img mat-card-avatar class="user-avatar" [src]="directRoomUser?.avatar || ''">
    <mat-card-title class="user-profile__title">{{directRoomUser?.firstName}} {{directRoomUser?.lastName}}</mat-card-title>
    <mat-card-subtitle class="user-profile__item">
      last seen at {{directRoomUser?.lastSeen | date: 'h:mma' | lowercase}}
    </mat-card-subtitle>
    <span routerLink="../direct-messages-room" [queryParams]="{id: directRoomId}" class="user-profile__sent-message"
    (click)="openDirectRoom()">
      <mat-icon>message</mat-icon>
    </span>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
