@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
}

html {
  height: 100%;
}

html, body {
  width: 100%;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  height: fit-content;
}

body::after, div::after {
  display: block;
  content: '';
  clear: both;
}
