.choose-avatar__item {
  float: left;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-right: 10px;
}

.choose-avatar__item:last-child {
  margin-right: 0;
}

.choose-avatar__container {
  padding: 0;
  background-color: #8d63ad;
}

.choose-avatar__content {
  padding: 30px 20px;
}

::ng-deep .mat-dialog-container {
  padding: 0;
}
