<mat-card class="mat-card welcome-log-in">
  <mat-card-header>
    <mat-card-title>Did you already have you own account? Log in</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="userLogInFormParam">
      <mat-form-field>
        <input matInput placeholder="Login" name="login" formControlName="login" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" formControlName="password" required>
      </mat-form-field>

      <mat-error *ngIf="!userIsAuthorized">Pair login password not right, try again</mat-error>

      <button mat-raised-button color="primary" class="welcome-log-in-button" [disabled]="!isEnabledLogIn()" (click)="logIn()">Log in</button>
    </form>
  </mat-card-content>
</mat-card>
