.welcome-log-in {
  max-width: 400px;
  display: grid;
  /*align-content: end;*/
  height: 100%;
}

.mat-form-field {
  width: 100%;
}

.welcome-log-in-button {
  display: block;
  margin: 10px auto 0 auto;
}

.mat-card-title {
  color: dimgrey;
  font-size: 16px;
  margin-top: 25px;
}


@media only screen and (max-width: 1024px) and (min-width: 400px) {
  .mat-form-field {
    font-size: 16px!important;
  }
}

.welcome-log-in__img {
  height: 156px;
  margin: 0 auto;
}
