<mat-card class="main-chat-container" layot="column" *ngIf="user.action.joined">
  <mat-card-header class="main-chat__header">
    <span class="main-chat__header-text">Chat has {{mainChatRoom?.users.length}} users, online {{mainChatRoom?.activeUsers.length}}</span>
  </mat-card-header>
  <mat-card-content class="main-chat-container__content" #chat_room_content>
    <div #messageList class="message-list">

      <div class="message-list-content">

        <div #messageListItem class="message-list-item" *ngFor="let message of messages"
             [ngClass]="getClassOfMessageList(message, user)" (click)="getMessageManipulatingComponent(message)"
              [class.message-list-item_message]="message.action === 'sentMessage'">

          <p mat-line class="action-line" *ngIf="message.action === 'joined'">
            {{message.messageContent}}
          </p>

          <p mat-line class="action-line" *ngIf="message.action === 'edit'">
            {{message.messageContent}}
          </p>

          <img mat-card-avatar [src]="message.from.avatar"
               *ngIf="message.action === 'sentMessage' && message.from.id !== user.id"
               class="message-list-item__avatar" routerLink="../user-profile"
               [queryParams]="{id: message.from.id}" (click)="activeChatRoom()">


          <h3 mat-line class="message-item-user-name"
              *ngIf="message.action === 'sentMessage' && message.from.id !== user.id" class="message-list-item-title">
            {{message.from.firstName}} {{message.from.lastName}}
          </h3>

          <p class="mat-list-item-message" *ngIf="message.action === 'sentMessage'">
            {{message.messageContent}}
          </p>

          <span class="message-item-time" *ngIf="message.action === 'sentMessage'">{{message.sendingTime | date: 'h:mma' | lowercase}}</span>

        </div>

      </div>

    </div>
  </mat-card-content>
  <mat-card-footer class="main-chat-container-footer" #chat_room_footer>
    <div class="edit-message__container" *ngIf="isMessageRequestEdit && currentMessageEdit">
      <div class="edit-message__content">
        <mat-icon class="edit-message__cancel-button" (click)="cancelEditMessage()">cancel</mat-icon>
        <h4 class="edit-message__header">Edit message</h4>
        <p class="edit-message__message">{{currentMessageEdit.messageContent}}</p>
      </div>
    </div>
    <mat-icon class="main-chat-container-footer__icon">create</mat-icon>
    <mat-form-field class="message-input" [floatLabel]="'never'">
      <mat-label>Type a message...</mat-label>
      <textarea matInput mat-autosize (keyup.enter)="sendMessage(messageContent)" [(ngModel)]="messageContent"
                autofocus autocomplete="off" matAutosizeMinRows="2"></textarea>
    </mat-form-field>
  </mat-card-footer>
</mat-card>
<mat-card class="main-chat-container" layot="column" *ngIf="!user.action.joined">
  <button mat-button class="join-button" (click)="onJoin()">Join</button>
</mat-card>
