.mat-card {
  position: relative;
  width: 100%;
}
.chat-container {
  height: 100%;
}
.message-input {
  width: 100%;
  max-width: 800px;
}
.mat-card-footer {
  position: fixed;
  width: 100%;
  bottom: 60px;
  left: 410px;
  right: 60px;
}
.mat-icon {
  vertical-align: middle;
  margin-right: 10px;
}
.action-line {
  text-align: center;
}

.message-list {
  overflow: auto;
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 240px;
  right: 40px;
}

.message-item {
  background-color: #4c62691a;
  border-radius: 10px;
  margin-bottom: 15px;
}

.message-item-user-name {
  font-size: 16px!important;
  font-weight: bold!important;
  margin-bottom: 10px!important;
}
.message-item-time {
  position: relative;
  right: 0;
  top: 0;
}

.chat-container-join {
  position: relative;
  padding: 0!important;
}

.join-button {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  padding: 30px;
  font-size: 30px;
  color: white;
  background-color: blueviolet;
}
