.main-chat-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 79px);
  background: url("../../images/backgrounds/img65.jpeg") no-repeat;
  background-size: cover;
  padding: 0!important;
}

.main-chat__header {
  width: 100%;
  height: 40px;
  padding: 0 35px;
  background-color: #0d06138a;
  color: #fbf8f8;
}

.main-chat-container__content {
  margin: 0;
  height: calc(100% - 40px - 65px - 30px);
  position: relative;
  top: 0!important;
  bottom: auto;
  display: block;
}

.main-chat-container__content, .main-chat-container-footer {
  width: 90%;
  margin: 0 auto;
}

.main-chat__header-text {
  padding-top: 10px;
}

.message-input {
  width: calc(100% - 34px - 70px);
}

.message-input textarea {
  max-height: 90px;
  overflow-y: auto;
}

.message-input textarea.cdk-textarea-autosize-measuring {
  padding: 4px 0 !important;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 10px;
}
.action-line {
  text-align: center;
  font-size: 15.5px;
  color: #373d46;
}

.message-list {
  overflow-y: auto;
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.message-list-content, .message-list:hover {
  visibility: visible;
}

.message-item {
  max-width: 60%;
  width: fit-content;
  min-width: 50px;
  position: relative;
  background-color: #4c62691a;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 60px;
  word-break: break-word;
}

.message-from-current-user {
  background-color: #0d061370;
  color: white;
}

.message-from-current-user .message-item-time {
  color: white;
}

.message-item:last-child {
  margin-bottom: 0;
}

.message-item__selected {
  background-color: #8d63ad!important;
}

.message-item__selected, .message-item__selected .message-item-time,
.message-item__selected .message-list-item-title {
  color: white;
}

.message-list-item__current-user {
  float: right;
}

.message-item-user-name {
  font-size: 15px!important;
  font-weight: bold!important;
  margin-bottom: 10px!important;
}
.message-item-time {
  position: absolute;
  right: 7px;
  bottom: 5px;
  color: gray;
  font-size: 9px;
}

.main-chat-container-join {
  position: relative;
  padding: 0!important;
}

.join-button {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  padding: 30px;
  font-size: 30px;
  color: white;
  background-color: blueviolet;
}

.message-list-item {
  padding: 7px 10px 20px 10px;
  clear: both;
}

.message-list-item_message {
  cursor: pointer;
}

.message-list-item__avatar {
  position: absolute;
  bottom: 0;
  left: -60px;
  width: 50px;
  height: 50px;
}

.main-chat-container-footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.join-button {
  bottom: 0;
}

::ng-deep .mat-form-field-label-wrapper {
  font-size: 13px!important;
}

::ng-deep .mat-form-field-infix {
  border-top: 0;
}

.main-chat-container-footer__icon {
  vertical-align: top;
  margin-top: 5px;
}

.message-send-button {
  position: absolute;
  right: 25px;
  top: 5px;
  border: 0;
  background: transparent;
  outline: none;
  color: #8d63ad;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.message-send-button.message-send-button__edit {
  top: 75px;
}

.edit-message__container {
  position: relative;
  left: 34px;
  width: calc(100% - 34px);
  border-left: 2px solid black;
  margin-bottom: 5px;
}

.edit-message__content {
  position: relative;
  padding: 10px;
}

.edit-message__cancel-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.edit-message__header {
  margin: 0 0 10px;
}

.message-is-edited {
  min-width: 70px;
}

/*.avatar-block {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: -60px;*/
/*}*/

/*.avatar-block__avatar {*/
  /*width: 50px;*/
  /*height: 50px;*/
/*}*/

/*.avatar-block__online {*/
  /*display: block;*/
  /*float: none;*/
  /*clear: both;*/
  /*text-align: center;*/
  /*color: #6e6675;*/
  /*font-size: 13px;*/
/*}*/

.message-list-item-title {
  margin: 0 0 10px;
  font-size: 15px;
  color: #905151;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #c1a9d64f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #705e7d9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a391b0;
}

.action-item {
  padding-top: 0;
}

.mat-card-content {
  height: 100%;
}

.mat-card-avatar {
  cursor: pointer;
}

.manipulating-message-desktop {
  position: relative;
}

.manipulating-message-desktop__container {
  list-style: none;
  margin: 0 auto;
  width: fit-content;
  padding: 15px 10px;
}

.manipulating-message-desktop__item {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 20px;
  background-color: #8d63ad;
  color: white;
  cursor: pointer;
}

.manipulating-message-desktop__item:last-child {
  margin-right: 0;
}

.manipulating-message-desktop__cancel-button {
  background-color: transparent;
  border: 0;
  outline: none;
  color:  #8d63ad;
}


@media only screen and (max-width: 900px) {
  .message-list {
    padding-right: 10px;
  }

  .message-item {
    max-width: 60%;
    margin: 0 0 10px 60px;
  }

}

@media only screen and (max-width: 600px) {
  .main-chat-container {
    height: 100%;
  }
}
