<mat-card class="chat-container" layot="column">
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let message of messages" [ngClass]="[(message.action === action.sentMessage) ? 'message-item' : '']">
        <p mat-line *ngIf="message.action === action.joined" class="action-line">
          {{message.user.firstName}} {{message.user.lastName}} joined to conversation
        </p>
        <img mat-list-avatar *ngIf="message.action === action.sentMessage" [src]="user.avatar">
        <p mat-line class="message-item-user-name" *ngIf="message.action === action.sentMessage">
          {{message.user.firstName}} {{message.user.lastName}}
        </p>
        <p mat-line *ngIf="message.action === action.sentMessage">
          {{message.messageContent}}
        </p>
        <div *ngIf="message.action === action.sentMessage" class="message-item-time">{{timeNow | date: 'h:mma'}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-icon>create</mat-icon>
    <mat-form-field class="message-input">
      <mat-label>Type a message</mat-label>
      <input matInput (keyup.enter)="sendMessage()" [(ngModel)]="messageContent">
    </mat-form-field>
  </mat-card-footer>
</mat-card>
