.chat-room-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 79px);
  background: url("../../images/backgrounds/img65.jpeg") no-repeat;
  background-size: cover;
  padding: 0!important;
}

.chat-room__header {
  width: 100%;
  padding: 14px 14px 16px;
  background-color: #0d06138a;
  color: #fbf8f8;
  clear: both;
}

.chat-room-container__content {
  margin: 0;
  height: calc(100% - 70px - 65px - 30px);
  position: relative;
  top: 0!important;
  bottom: auto;
  display: block;
}

.chat-room-container__content, .chat-room-container-footer {
  width: 90%;
  margin: 0 auto;
}


.direct-messages-room__user-activity {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}

.direct-messages-room__user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.direct-messages-room__user-name {
  font-size: 16px;
}

.message-input {
  width: calc(100% - 34px - 70px);
}

.message-input textarea {
  max-height: 90px;
  overflow-y: auto;
}

.message-input textarea.cdk-textarea-autosize-measuring {
  padding: 4px 0 !important;
}

.chat-room-container-footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.chat-room-container-footer__icon {
  vertical-align: middle;
  margin-right: 10px;
}

.message-send-button {
  position: absolute;
  right: 25px;
  top: 5px;
  border: 0;
  background: transparent;
  outline: none;
  color: #8d63ad;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.action-line {
  text-align: center;
  font-size: 15.5px;
  color: #373d46;
}

.message-list {
  overflow-y: auto;
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.message-list-content, .message-list:hover {
  visibility: visible;
}

.message-item {
  width: fit-content;
  min-width: 50px;
  max-width: 60%;
  position: relative;
  background-color: #4c62691a;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 60px;
  word-break: break-word;
  padding: 7px 10px 20px 10px;
  clear: both;
}

.message-from-current-user {
  background-color: #0d061370;
  color: white;
}

.message-from-current-user .message-item-time {
  color: white;
}

.message-item:last-child {
  margin-bottom: 0;
}

.message-item__currentUser {
  float: right;
}

.message-item-user-name {
  font-size: 15px!important;
  font-weight: bold!important;
  margin-bottom: 10px!important;
}
.message-item-time {
  position: absolute;
  right: 7px;
  bottom: 5px;
  color: gray;
  font-size: 9px;
}

.main-chat-container-join {
  position: relative;
  padding: 0!important;
}

.join-button {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  padding: 30px;
  font-size: 30px;
  color: white;
  background-color: blueviolet;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #c1a9d64f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #705e7d9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a391b0;
}

.action-item {
  padding-top: 0;
}

.mat-card-content {
  top: 70px;
  height: 100%;
}

.mat-card-avatar {
  cursor: pointer;
}

.chat-room__header::after {
  display: block;
  content: '';
  clear: both;
}

::ng-deep .mat-form-field-label-wrapper {
  font-size: 13px!important;
}

::ng-deep .mat-form-field-infix {
  border-top: 0;
}

.chat-room-container-footer__icon {
  vertical-align: top;
  margin-top: 5px;
}

.edit-message__container {
  position: relative;
  left: 34px;
  width: calc(100% - 34px);
  border-left: 2px solid black;
  margin-bottom: 5px;
}

.edit-message__content {
  position: relative;
  padding: 10px;
}

.edit-message__cancel-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.edit-message__header {
  margin: 0 0 10px;
}

.message-is-edited {
  min-width: 70px;
}

@media only screen and (max-width: 900px) {
  .message-list {
    padding-right: 10px;
  }

  .message-item {
    max-width: 60%;
    margin: 0 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .chat-room-container {
    height: 100%;
  }

  .chat-room__header {
    padding: 14px 40px;
  }
}
