<mat-card class="chat-room-container" layot="column">
  <mat-card-header class="chat-room__header">
    <img mat-card-avatar class="direct-messages-room__user-avatar" [src]="user?.avatar || ''">
    <mat-card-title class="direct-messages-room__user-name">{{user?.firstName}} {{user?.lastName}}</mat-card-title>
    <mat-card-subtitle *ngIf="user?.online">online</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div #messageList class="message-list">

      <div class="message-list-content">

        <div #messageListItem class="message-list-item" *ngFor="let message of messages"
             [ngClass]="[(message.user.id === user.id)? 'message-list-item__currentUser' : '']">

          <img mat-card-avatar [src]="message.user.avatar"
               *ngIf="message.user.id !== user.id"
               class="message-list-item__avatar" routerLink="../user-profile"
               [queryParams]="{id: message.user.id}">


          <h3 mat-line class="message-item-user-name"
              *ngIf="message.user.id !== user.id" class="message-list-item-title">
            {{message.user.firstName}} {{message.user.lastName}}
          </h3>

          <p class="mat-list-item-message">
            {{message.messageContent}}
          </p>

          <span class="message-item-time">{{message.sendingTime | date: 'h:mma' | lowercase}}</span>

        </div>

      </div>

    </div>
  </mat-card-content>
  <mat-card-footer class="chat-room-container-footer">
    <mat-icon>create</mat-icon>
    <mat-form-field class="message-input">
      <mat-label>Type a message</mat-label>
      <textarea matInput mat-autosize (keyup.enter)="sendMessage(messageContent)" [(ngModel)]="messageContent"
                autofocus autocomplete="off"></textarea>
    </mat-form-field>
  </mat-card-footer>
</mat-card>
