.welcome-component {
  max-width: 400px;
  float: left;
  display: grid;
  align-content: center;
}

.edit-user-component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 50px;
  top: 0;
  bottom: 66px;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-button {
  margin: 10px 0;
}

.mat-radio-button:first-child {
  margin-right: 20px;
}

.welcome-component .mat-radio-button {
  color: #8d63ac;
}

.submit-button {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 16px;
  padding: 5px 25px;
}

.change-avatar__title {
  font-size: 20px;
  margin: 55px 0 20px;
  text-align: center;
  font-weight: normal;
}

.change-avatar {
  margin: 15px 0;
}

.change-avatar-item {
  float: left;
  width: 50%;
}

.choose-avatar-text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 13px;
}

.circle-choose-avatar {
  cursor: pointer;
  display: grid;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: blueviolet;
  margin: 10px auto 0;
}

.choose-avatar-icon {
  font-size: 35px!important;
  color: white;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  transition: font-size 1s ease;
}

.choose-avatar-icon:hover {
  font-size: 37px!important;
  width: 37px;
  height: 37px;
}

#choose-avatar {
  display: none;
}

.mat-radio-button, .mat-form-field {
  font-size: 14px!important;
}

.mat-form-field-wrapper {
  padding-bottom: 5px!important;
}

.edit-user-component__title {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

::ng-deep .edit-user-component .mat-card-header-text {
  margin: 0 auto;
}

.welcome-component__title {
  color: dimgrey;
  font-size: 16px;
}

.change-avatar__button {
  position: absolute;
  right: 100px;
  bottom: 100px;
}

@media only screen and (max-width: 1024px) and (min-width: 400px) {
  .welcome-component__title {
    font-size: 18px;
  }

  .mat-radio-button, .mat-form-field {
    font-size: 16px!important;
  }
}

@media only screen and (max-width: 600px) {
  .choose-avatar-text {
    font-size: 14px;
  }
}

