<mat-card [class]="(isEdit) ? 'mat-card edit-user-component' : 'mat-card welcome-component'">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <form [formGroup]="userParameters">

    <mat-form-field appearance="legacy">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" required [value]="(isEdit) ? userParam.firstName : ''">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" [value]="(isEdit) ? userParam.lastName : ''">
    </mat-form-field>

    <mat-radio-group formControlName="gender" required>
      <mat-radio-button *ngFor="let gender of genders" [value]="gender" [checked]="isChecked(gender)">{{gender}}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="legacy">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login" required [value]="(isEdit) ? userParam.login : ''">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required [value]="(isEdit) ? userParam.password : ''">
    </mat-form-field>

     <button mat-raised-button *ngIf="!isEdit" color="primary" [disabled]="!isEnabledSubmit()" class="submit-button" routerLink="/chat" (click)="onSubmit()">
      {{submitTitle}}
    </button>
    <button mat-raised-button *ngIf="isEdit" color="primary" class="submit-button" (click)="onSave()">{{submitTitle}}</button>
  </form>
  <div class="change-avatar" *ngIf="isEdit">
    <h2>Change Avatar</h2>
    <div class="change-avatar-item">
      <p class="choose-avatar-text">Choose your own</p>
      <label for="choose-avatar" class="circle-choose-avatar">
        <mat-icon class="choose-avatar-icon">photo_camera</mat-icon>
      </label>
      <input type="file" (change)="onSelectAvatar($event)" id="choose-avatar">
    </div>
    <div class="change-avatar-item">
      <p class="choose-avatar-text">Choose one of default</p>
      <span class="circle-choose-avatar" (click)="chooseAvatar()">
        <mat-icon class="choose-avatar-icon">account_circle</mat-icon>
      </span>
    </div>
  </div>
</mat-card>
