.welcome-component {
  max-width: 400px;
  /*width: 100%;*/
  float: left;
  /*margin: 50px auto;*/
  display: grid;
  align-content: center;
}

.edit-user-component {
  min-height: calc(100vh - 66px - 100px);
  overflow-y: scroll;
  padding: 50px;
  position: absolute;
  top: 0;
  bottom: 66px;
}

.mat-card-title {
  font-size: 28px!important;
  color: blueviolet;
}
.mat-form-field {
  width: 100%;
}

.mat-radio-button {
  margin: 10px 0 20px 0;
}

.mat-radio-button:first-child {
  margin-right: 20px;
}

.submit-button {
  display: block;
  margin: 10px auto 0 auto;
}

h2 {
  margin: 10px 0;
}

.change-avatar {
  margin: 15px 0;
}

.change-avatar-item {
  float: left;
  width: 50%;
}

.choose-avatar-text {
  font-size: 13px;
  text-align: center;
}

.circle-choose-avatar {
  cursor: pointer;
  display: grid;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: blueviolet;
  margin: 0 auto;
}

.choose-avatar-icon {
  font-size: 30px!important;
  color: white;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  transition: font-size 1s ease;
}

.choose-avatar-icon:hover {
  font-size: 33px!important;
  width: 33px;
  height: 33px;
}

#choose-avatar {
  display: none;
}

input, mat-radio-button {
  font-size: 14px;
}
